<section class="container">
    <h1>Welcome!!</h1>
    <button (click)="openWinBox()">Register</button>
    <!-- <button (click)="closeWinBox()">Close</button> -->
</section>
<!-- <div class="scene">
    <div class="cube" [ngClass]="currentClass">
      <div class=" cube__face cube__face--front"></div>
      <div class="cube__face cube__face--back">Dev</div>
      <div class="cube__face cube__face--right"></div>
      <div class="cube__face cube__face--left">PM</div>
      <div class="cube__face cube__face--top">Tester</div>
      <div class="cube__face cube__face--bottom">FsDev</div>
    </div>
</div> -->

<div style="display: none;">
    <div id="controls">
        <form #signupForm="ngForm" (ngSubmit)="registerUser(signupForm)">
            <div class="box">
                <h1>Dashboard</h1>
            <label for="username">Username</label>
            <input class="email" type="text" name="username" id="username" ngModel>
          
            <label for="password">Password</label>
            <input class="email" type="password" name="password" id="password" ngModel>
          
            <button class="btn" type="submit">Sign Up</button>

            </div>
          </form>
        <!-- <p>{{this.globalService.currentValue}}</p>
        <button onclick="buttons.setValue()">Click here</button> -->
    </div>
</div>
  